body {
  margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image:url(../img/fundo.png), linear-gradient(#665588, #f78cda, #f7d458);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

.container {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.navbar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 20px;
}

.my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:30%;
}
