body {
    font-family: 'Roboto', sans-serif;
    background-image:url(../img/fundo.png), linear-gradient(#665588, #f78cda, #f7d458);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  footer{
      position: center;
  }
